
<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="field">
    <%= f.label :email, "Type your email" %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "Enter a strong random password" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Log In"  %>
  </div>
<% end %>
