<p> Signed in as <%= @user.email %> </p><br>

<ul> Your carts
  <% @user.carts.each do |cart| %>
    <li> Cart number: <%= cart.id %> </li>
      <ul><% cart.line_items.each do |line_item| %>
        <li> <%= line_item.item.name %> </li>
        <li> <%= line_item.item.price %></li>
        <li> <%= line_item.quantity %></li>
      <% end %>
      </ul>
  <% end %>
</ul>
